# Flutter/Dart/Pub related
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
lib/generated_plugin_registrant.dart

# Build and output directories
build/
_build/

# IDE-specific files
.idea/
.vscode/
*.iml
*.ipr
*.iws

# OS-specific files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Log files
*.log

# Keystore files
*.jks
*.keystore
**/key.properties

# Android specific
/android/.gradle
/android/app/build/
/android/build/
/android/gradlew
/android/gradlew.bat
/android/local.properties

# iOS specific
/ios/Pods/
/ios/Flutter/App.framework
/ios/Flutter/Flutter.framework
/ios/Flutter/Generated.xcconfig
/ios/Runner/GeneratedPluginRegistrant.*

# Checked-in files to remove
/android/app/receipt_manager_key
flutter-simple-edge-detection/
